 /* 
    Document   : styles
    Created on : Apr 9, 2013, 7:55:47 PM
    Author     : jeremielitzler
    Description:
        Purpose of the stylesheet follows.
*/
/* Generic custom CSS - Start */
body{font-family: Book Antiqua, Arial, sans-serif;}
/* Generic custom CSS - End */
/* Login and Create Account views - Start of custom styles */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 0px) 
and (max-device-width : 481px) {
    div#l-c{
        width: 100%;
    }
}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 801px) {
    div#l-c{
        width: 80%;
    }
}
@media only screen 
and (min-device-width : 801px) 
and (max-device-width : 1024px) {
    div#l-c{
        width: 80%;
    }
}
@media only screen 
and (min-device-width : 1024px) {
    div#l-c{
        width: 320px;
    }
}


div#l-c{
    height:auto;
    min-height:30px;
    text-align: center;
    margin: 0 auto;
    background-color: #ecf0f3;
    border: 1px solid #9cacbc;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
}

#l-form h1, #l-form form{
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;margin:0.5em;
    display: block;
    background-color: #FFF;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -moz-box-shadow: inset 2px 2px 10px -2px #CCCCCC;
    -webkit-box-shadow: inset 2px 2px 10px -2px #CCCCCC;
    box-shadow: inset 2px 2px 10px -2px #CCCCCC;
}
#l-form form > div{text-align: left;}
#l-c div{line-height: 25px;}
#l-form form div label{
    font-size:14px;
    text-align: left;
    display: block;
    font-weight: 600;
    color: #999999;
    padding-right: 14px;
    vertical-align: middle;
}
#l-form form div input{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 29px;
    margin: 0;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#l-link p, #l-3rdu p{
    text-align: center;
    padding: 4px;
}
input.button{
    width: 100px;margin: 10px 0;
    background-color: #fff;
    border: 1px solid #CCC;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.form_error{font-size: smaller;font-weight: bolder;color: #F80010;}
/* Login view - End of custom styles*/
/*Clear class*/
.clear{margin: 0; padding: 0;clear:both;visibility: hidden;}
